<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="../css/user_details.css">
</head>
<body>
    <div class="wrapper">
        <div class="user">
            <div class="user__container _container">
                <div class="user-content-wrap">
                    <h1 class="user__title">User info</h1>
                    <div class="user__content"></div>
                </div>
                <div class="user__posts">
                    <div class="user-posts__btn-wrap">
                        <button type="button" class="posts__btn">posts</button>
                    </div>
                    <div class="user-posts-lost-wrap">
                        <ul class="user-posts__list"></ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="../js/utils/index.js"></script>
    <script src="../js/utils/request-server.js"></script>
    <script src="../js/utils/url-params.js"></script>
    <script src="../js/renders/posts-render.js"></script>
    <script src="../js/renders/user-render.js"></script>
    <script src="../js/details/user-details.js"></script>

    <!-- <script type="module" src="../js/details/user-details.js"></script> -->
</body>
</html>