<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="../css/post_details.css">

</head>
<body>
    <div class="wrapper">
        <div class="post">
            <div class="post__container _container">
                <h1 class="post__title">Post info</h1>
                <div class="post-content-wrap">
                    <div class="post__content">
                        
                    </div>
                    <div class="post__comments">
                        <div class="post-comments__btn-wrap">
                            <button type="button" class="comments__btn">comments</button>
                        </div>
                        <div class="post-comments-wrap">
                            <ul class="comments__list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="../js/details/post-details.js"></script>
</body>
</html>